<!DOCTYPE html>
<html>
<head>
<title>Enju accessor</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="http://textae.pubannotation.org/vender/jquery.jsPlumb-1.5.2-min.js"></script>
<script src="http://textae.pubannotation.org/lib/textae.min.js"></script>
</head>

<body>
<div id="header">
  <div id="title">
    Enju REST Accessor
  </div>
</div>
<div id="main">
  <fieldset class="pane">
    <legend>Demo</legend>
    <form>
      <input type="text" name="text" style="width:80%" value="<%= params[:text] %>" placeholder="Input text">
      <input type="submit">
      <br/><br/>
      <% if params[:mode] == 'POS' %>
        <input type="radio" name="mode" value="PAS" id="mode_PAS" /><label for="mode_PAS">PAS (predicate argument structure)</label>
        <input type="radio" name="mode" value="POS" id="mode_POS" checked="true" /><label for="mode_POS">PAS (part-of-speech)</label>
      <% else %>
        <input type="radio" name="mode" value="PAS" id="mode_PAS" checked="true" /><label for="mode_PAS">PAS (predicate argument structure)</label>
        <input type="radio" name="mode" value="POS" id="mode_POS" /><label for="mode_POS">PAS (part-of-speech)</label>
      <% end %>
    </form>
    <% unless @annotations.nil? %>
      <section>
        <h3>Parsing result in <a href="http://textae.pubannotation.org">TextAE</a> visualization</h3>
        <div class="textae-editor" style="margin:5px 0; padding:4px">
        <%= @annotations.to_json %>
        </div>
      </section>
      <section>
        <h3>... in JSON</h3>
        <textarea style="width:100%">
<%= JSON.pretty_generate(@annotations) %>
        </textarea>
      </section>
    <% end %>
  </fieldset>

<section>
  <h1>Description</h1>
  <ul>
  <li>It is a REST service to produce annotation of syntactic parsing.</li>
  <li>It accesses an <a href="http://kmcs.nii.ac.jp/enju">Enju</a> CGI server to receive parsing results,</li>
  <li>and convert them in <a href="http://www.pubannotation.org/docs/annotation-format/">PubAnnotation JSON format</a>.</li>
  </ul>
</section>

<section>
  <h1>Usage</h1>

  <section>
    <h2>Input</h2>
    <p>Post a block of text as a value of the parameter <i>text</i>, as follows:</p>
<pre>
curl -d text="..." http://bionlp.dbcls.jp/enju_rest/
</pre>

    or

<pre>
curl -H "content-type:application/json" -d '{"text":"..."}' http://bionlp.dbcls.jp/enju_rest/
</pre>
  </section>

  <section>
    <h2>Output</h2>
    You will get the parsing results in the <a href="http://www.pubannotation.org/docs/format/">PubAnnotation JSON format</a>.
  </section>
</section>

<section>
<h1>Interface Synopsis (Ruby on Sinatra)</h1>
<pre>
require 'sinatra'
require 'json'

before do
  if request.content_type &amp;&amp; request.content_type.downcase == 'application/json'
    body = request.body.read
    json_params = JSON.parse body, :symbolize_names => true unless body.empty?
    params.merge!(json_params) unless json_params.nil?
  end
end

post '/' do
  begin
    text = params[:text]
    raise ArgumentError, "'text' value needs to be supplied." if text.nil?
    ...
    headers \
      'Content-Type' => 'application/json'
    body annotations.to_json

  rescue ArgumentError => e
    headers \
      'Content-Type' => 'application/json'
    status 400
    {message:e.message}.to_json

  rescue IOError => e
    headers \
      'Content-Type' => 'application/json'
    status 502
    {message:e.message}.to_json
  end
end
</pre>
</section>
</div>
</body>
</html>
